@import url('http://fonts.googleapis.com/css?family=Amarante');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }
body { 
  background: #eee url('http://i.imgur.com/eeQeRmk.png'); /* http://subtlepatterns.com/weave/ */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
  padding-bottom: 55px;
}

::selection { background: #5f74a0; color: #fff; }
::-moz-selection { background: #5f74a0; color: #fff; }
::-webkit-selection { background: #5f74a0; color: #fff; }

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

h1 { 
  font-family: 'Amarante', Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
}


/** page structure **/
#wrapper {
  display: block;
  width: 850px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

#endpoints_table {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}


#endpoints_table thead {
  cursor: pointer;
  background: #c9dff0;
}
#endpoints_table thead tr th { 
  font-weight: bold;
  padding: 6px 30px;
  padding-left: 30px;
}
#endpoints_table thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#endpoints_table thead tr th.headerSortUp, #endpoints_table thead tr th.headerSortDown {
  background: #acc8dd;
}

#endpoints_table thead tr th.headerSortUp span {
  background-image: url('http://i.imgur.com/SP99ZPJ.png');
}
#endpoints_table thead tr th.headerSortDown span {
  background-image: url('http://i.imgur.com/RkA9MBo.png');
}


#endpoints_table tbody tr { 
  color: #555;
}
#endpoints_table tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#endpoints_table tbody tr td.lalign {
  text-align: left;
}
/* Ale:Above the css imported. Below my changes.*/
.url_field{
	width:300px;
}
.url_field:focus{
	width:500px;
}
.order_field{
	width:50px;
}
.limit_field{
	width:80px;
}
.form_button{
	text-align:center;
}
input[type="submit"] {
	margin-left:10px;
}
input.examples_button, input.uri_associated_button, input.suggest_button{
	margin-top: 5px;
}
input.button_insert{
	margin-right:10px;
}
input.uri_associated_field , input.suggest_field , input.examples_field{
	display:none;
}
textarea.uri_associated_field, textarea.suggest_field , textarea.examples_field{
	margin-bottom: -5px;
}
ul li{
	margin-top:5px;
}
div.example_show{
	height: 280px;
	overflow-y: scroll;
}
img.info_img{
	height:20px;
}
th.active_ep{
	min-width: 130px;
} 
th.order{
	min-width: 128px;
}  
th.limit{
	min-width: 120px;
}  
th.suggest{
	min-width: 140px;
}   
th.blank_node{
	min-width: 170px;
}  
th.examples{
	display: inline;
}  
th.uri_associated{
	min-width: 210px;
} 

div#config_addprefix_dialog, div#config_suggest_dialog{
	top: 100px;
	overflow-y: scroll;
	position: fixed;
	height: 430px;
	width: 50%;
	border-width: 1px;
	border: solid;
	border-color: #696969;
	border-radius: 3px;
	margin-top: 60px;
	margin-left: 25%;
	background-color: #F5F5F5;
	z-index: 102; 
}
div#config_addprefix_title, div#config_suggest_title {
	border-width: 1px;
	border: solid;
	background: #696969;
	border-color: #696969;
	padding-left: 15px;
	color: #FFF;
}
div#config_addprefix_main_div input[type="number"]{
	width: 50px;
}
div#config_addprefix_main_div input[type="text"]{
	width: 250px;
}
#config_addprefix_close,#config_suggest_close {
	cursor: pointer;
	float: right;
	text-decoration: none;
}
div#config_addprefix_main_div ,div#config_suggest_main_div{
	height: auto;
	overflow-y: auto;
	padding-left: 20px;
}
#config_examples_main_div input[type="text"]{
	width: 500px;
	margin-bottom: 5px;
}
.prefix_element{
	margin-bottom:5px;
}
.config_display{
	margin-top: 10px;
	height: 175px;
	border:1px solid;
	overflow-y:scroll;
	padding-left: 5px;
	padding-top: 5px;
}

#config_examples_main_div  p.example_element{
	margin-bottom: 10px;
	border-bottom: 1px solid;
	padding-bottom: 10px;
}
#config_examples_main_div .config_display{
	padding-top: 10px;
	margin-top: 10px;
	height: 250px;
	border:1px solid;
	overflow-y:scroll;
	padding-left: 5px;
}
p.suggest_element{
	margin-bottom: 5px;
}